#header{
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;

}

#header::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(36, 36, 36, 0.5);
}
#content{
    max-width: 1300px;
    margin: 0 auto;
}
